# yaml-language-server: C:/Program Files/Whim/plugins/Whim.Yaml/schema.json
workspaces:
  # workspaces are defined in ./whim.config.csx
  entries: []

layout_engines:
  entries:
    - type: slice
      variant:
        type: primary_stack

    - type: tree
      initial_direction: right

    - type: slice
      variant:
        type: row

    - type: slice
      variant:
        type: column

    - type: slice
      variant:
        type: secondary_primary_stack

    - type: slice
      variant:
        type: multi_column_stack
        columns: [2, 1, 0]

    - type: focus
      maximize: false

    - type: floating

keybinds:
  entries:
    - command: whim.core.focus_next_monitor
      keybind: Alt+n
    - command: whim.core.focus_previous_monitor
      keybind: Alt+p

    - command: whim.command_palette.move_window_to_workspace
      keybind: Alt+g
    - command: whim.core.activate_workspace_1
      keybind: Alt+1
    - command: whim.core.activate_workspace_2
      keybind: Alt+2
    - command: whim.core.activate_workspace_3
      keybind: Alt+3
    - command: whim.core.activate_workspace_4
      keybind: Alt+4
    - command: whim.core.activate_workspace_5
      keybind: Alt+5
    - command: whim.core.activate_workspace_6
      keybind: Alt+6
    - command: whim.core.activate_workspace_7
      keybind: Alt+7
    - command: whim.core.activate_workspace_8
      keybind: Alt+8
    - command: whim.core.activate_workspace_9
      keybind: Alt+9
    - command: whim.core.exit_whim
      keybind: Alt+Shift+q
    - command: whim.core.restart_whim
      keybind: Alt+q

  unify_key_modifiers: true

filters:
  entries: []

routers:
  routing_behavior: route_to_launched_workspace
  entries: []

plugins:
  bar:
    left_components:
      entries:
        - type: workspace_widget

    center_components:
      entries:
        - type: focused_window_widget
          shorten_title: true

    right_components:
      entries:
        - type: battery_widget
        - type: active_layout_widget
        - type: date_time_widget
          format: hh:mm:ss, MMM dd
        - type: tree_layout_widget

  floating_window:
    is_enabled: true

  gaps:
    is_enabled: true
    outer_gap: 10
    inner_gap: 10
    default_outer_delta: 2
    default_inner_delta: 2

  command_palette:
    is_enabled: true
    max_height_percent: 40
    max_width_pixels: 800
    y_position_percent: 20

  focus_indicator:
    is_enabled: true
    border_size: 2
    is_fade_enabled: false
    fade_timeout: 2
    color: blue_violet

  layout_preview:
    is_enabled: true

  updater:
    is_enabled: true
    release_channel: alpha
    update_frequency: daily
