# This is Git's per-user configuration file.
# Inspiration: https://gist.github.com/tdd/470582

[user]
    name = Derek Lomax
    email = derekthecool@gmail.com

[core]
    editor = nvim
    eol = lf
    autocrlf = input
    excludesfile = ~/.gitignore_global
    # Windows trouble with long paths https://stackoverflow.com/a/25287498
    longpaths = true

[pull]
    rebase = true

[fetch]
    prune = true

[diff]
    colorMoved = zebra

[help]
    format = man

[status]
    # Display submodule rev change summaries in status
    # adds significant delay to git status
    # submoduleSummary = true
    # Recursively traverse untracked directories to display all contents
    # better than showing a single directory as an untracked item
    showUntrackedFiles = all

[tag]
    # Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
    sort = version:refname

[credential "helperselector"]
	selected = manager

# Awesome URL shortcuts
# More easily clone like this: git clone gh:echasnovski/mini.nvim
[url "https://github.com/"]
    insteadOf = gh:
[url "https://github.com/"]
    insteadOf = GitHub:
[url "git@github.com:derekthecool/"]
    insteadOf = myGitHub:
[url "https://github.com/derekthecool/"]
    insteadOf = myGitHubHTTPS:
# Work urls
[url "git@ssh.dev.azure.com:v3/freeus/FreeusDevice/"]
    insteadOf = Freeus:
[url "git@ssh.dev.azure.com:v3/freeus/Freeus/"]
    insteadOf = Freeus2:

# Work git config
[includeIf "gitdir:~/repos/"]
    path = "~/repos/.gitconfig"

# Ignore all dubious git ownership warnings
# https://stackoverflow.com/questions/72978485/git-submodule-update-failed-with-fatal-detected-dubious-ownership-in-reposit
[safe]
	directory = *
[pager]
	grep = false
[push]
	autoSetupRemote = true

# Fix trouble with bare repository cloning.
# By default remote.origin.fetch is not set. This means no remote branches are visible with 'git branch -r'
#[remote "origin"]
#        fetch = "+refs/heads/*:refs/remotes/origin/*"
# However, this works well enough for most other repositories but fails when
# to clone with a command like 'git clone --recurse-submodules'
