# This is Git's per-user configuration file.
# Inspiration: https://gist.github.com/tdd/470582

[user]
    name = Derek Lomax
    email = derekthecool@gmail.com

[core]
    editor = nvim
    eol = lf
    autocrlf = input
    excludesfile = ~/.gitignore_global
    # Windows trouble with long paths https://stackoverflow.com/a/25287498
    longpaths = true

[pull]
    rebase = true

[fetch]
    prune = true

[diff]
    colorMoved = zebra

[help]
    format = man

[status]
    # Display submodule rev change summaries in status
    # adds significant delay to git status
    # submoduleSummary = true
    # Recursively traverse untracked directories to display all contents
    # better than showing a single directory as an untracked item
    showUntrackedFiles = all

[tag]
    # Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
    sort = version:refname

[credential "helperselector"]
	selected = manager

# Awesome URL shortcuts
# More easily clone like this: git clone gh:echasnovski/mini.nvim
[url "https://github.com/"]
    insteadOf = gh:
[url "https://github.com/"]
    insteadOf = GitHub:
[url "git@github.com:derekthecool/"]
    insteadOf = myGitHub:
[url "https://github.com/derekthecool/"]
    insteadOf = myGitHubHTTPS:

[includeIf "gitdir:~/repos/"]
    path = "~/repos/.gitconfig"
