# This is Git's per-user configuration file.
[user]
	name = Derek Lomax
	email = derekthecool@gmail.com
[core]
	editor = nvim
	eol = lf
	autocrlf = input
    excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[help]
	format = man
[credential "helperselector"]
	selected = manager

# Awesome URL shortcuts
# More easily clone like this: git clone gh:echasnovski/mini.nvim
[url "https://github.com/"]
    insteadOf = gh:
[url "https://github.com/"]
    insteadOf = GitHub:
[url "git@github.com:derekthecool/"]
    insteadOf = myGitHub:
[url "https://github.com/derekthecool/"]
    insteadOf = myGitHubHTTPS:

[includeIf "gitdir:~/repos/"]
	path = "~/repos/.gitconfig"
