:root {
  /* general */
  --bg: #333;
  --fg: #eee;
  --tab-background: #444;
  --tab-suspended: #000;
  --visible-tab: #666;
  --tab-split: #f90;
  --tab-audio: #09f;
  --tab-muted: #fff;
  --tab-muted-playing: #ff3;
  --tab-crashed: #f00;
  --tab-scrollbar: #5ff;
  --container-background: none;
  --mode-normal-fg: #eee;
  --mode-normal-bg: none;
  --mode-command-fg: #f33;
  --mode-command-bg: none;
  --mode-insert-fg: #3f3;
  --mode-insert-bg: none;
  --mode-follow-fg: #f3f;
  --mode-follow-bg: none;
  --mode-explore-fg: #3ff;
  --mode-explore-bg: none;
  --mode-search-fg: #ff3;
  --mode-search-bg: none;
  --mode-pointer-fg: #777;
  --mode-pointer-bg: #fff;
  --mode-visual-fg: #000;
  --mode-visual-bg: #3af;
  --url-default: #666;
  --url-search: #f90;
  --url-searchwords: #fcf;
  --url-url: #3ff;
  --url-suggest: #3f3;
  --url-file: #ff9;
  --url-invalid: #f33;
  --follow-text: #111;
  --follow-url-bg: #cff;
  --follow-url-border: #5cc;
  --follow-click-bg: #fcc;
  --follow-click-border: #c55;
  --follow-insert-bg: #cfc;
  --follow-insert-border: #5c5;
  --follow-onclick-bg: #ffc;
  --follow-onclick-border: #cc5;
  --follow-other-bg: #ccc;
  --follow-other-border: #aaa;
  --suggestions-border: #777;
  --suggestions-bg: #444;
  --suggestions-selected: #666;
  --suggestions-searchwords: #fcf;
  --suggestions-url: #bff;
  --suggestions-file: #ffb;
  --notification-border: #111;
  --notification-date: #aaa;
  --notification-permission: #aaa;
  --notification-error: #f33;
  --notification-warning: #fd0;
  --notification-info: #0cf;
  --notification-success: #3f3;
  --url-hover-fg: #000;
  --url-hover-bg: #fff;

  /* special pages */
  --link-color: #0cf;
  --link-underline: #059;
  --scrollbar-bg: #444;
  --scrollbar-thumb: #bbb;
  --button-disabled: #999;
  --code-fg: #fff;
  --code-bg: #111;
  --code-command: #f88;
  --placeholder-text: #ccc;
  --special-page-element-bg: #444;
  --special-page-element-border: #222;
  --input-unfocused: #666;
  --input-focused: #aaa;
  --download-progress-fg: #ccc;
  --download-progress-bg: #666;
  --helppage-h1: #d33;
  --helppage-h2: #f76;
  --helppage-h3: #fb9;
  --helppage-countable: #fc0;
}

#app {
  flex-direction: column-reverse;
}

#url-hover {
  bottom: 4em;
}

#suggest-dropdown {
  top: auto;
  bottom: 2.1em;
  flex-direction: column-reverse;
}

#mode-suggestions {
  top: auto;
  bottom: 2em;
  flex-direction: column-reverse;
}

.bottomright {
  right: 0.7em;
  bottom: 4em;
}

.bottomleft {
  left: 0.7em;
  bottom: 4em;
}

.topright {
  right: 0.7em;
  top: 0.7em;
}

.topleft {
  left: 0.7em;
  top: 0.7em;
}

#app.tabshidden .topright,
#app.tabshidden .topleft {
  top: 0.7em;
}

#app.navigationhidden .topright,
#app.navigationhidden .topleft {
  top: 0.7em;
}

#app.tabshidden .bottomright,
#app.tabshidden .bottomleft {
  bottom: 2em;
}

#app.navigationhidden .bottomright,
#app.navigationhidden .bottomleft {
  bottom: 2em;
}

#app.navigationhidden.tabshidden .bottomright,
#app.navigationhidden.tabshidden .bottomleft {
  bottom: 0;
}

/* hidden bars */
#app.tabshidden #url-hover,
#app.navigationhidden #url-hover {
  bottom: 2em;
}

#app.tabshidden.navigationhidden #url-hover {
  bottom: 0;
}

#app.navigationhidden #suggest-dropdown {
  top: auto;
  bottom: 0.1em;
}
